/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(http://fonts.googleapis.com/css?family=Arvo:400,400italic);

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */
html {
  background: url(../Common/img/low_contrast_linen.png) repeat left top fixed; 
  background-color: #fff;
  font-family: 'Arvo', serif;
  font-size: 14px;
}

body {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  height: auto;

}

header {
  height: 216px;
  padding-bottom:7px;
  padding-top:7px;
}

#main{
	float: left;
	width: 940px;
	height: auto;
  padding:10px;
  padding-top:16px;
  background-color: #E5D9CF;
  margin-top: -49px;
  border-left: 1px solid rgba(255, 255, 255, .2);
}

#login {
  width:960px;
  height: 52px;
  margin-bottom: 10px;
}

#login p {
  color: #E5D9CF;
}

#reg {
  font-size: 12px;
}

#codar {
  float: left;
  width: 450px;
}


#topList {
  float: left;
  width: 450px;
}

#left {
  float: left;
  width: 470px;
}

#right {
  float: left;
  width: 470px;  
}

#navigation {
  float: left;
  width: 940px;
  padding:10px;
  background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#1C1C14), to(#383429)) #383429;
  background: -moz-linear-gradient(top,  #1C1C14,  #383429);

  border-left: 1px solid rgba(255, 255, 255, .2);
  border-top-left-radius: 5px;
  border-top: 1px solid rgba(255, 255, 255, .2);
  border-top-right-radius: 5px;
}

#navigation ul {
  float:left;
  padding:0;
  margin:0;
  list-style-type:none;
}

#navigation img {
  width: 32px;
  height:16px;
  position: relative;
  top: 8px;
  left: 50px;
}

 
#navigation li {
  font: 200 15px/1 Helvetica, Verdana, sans-serif;
  width: 100px;
  height:20px;
  float: left;
  display: inline;
}
 
#navigation li a {
  color: #2A7A8C;
  text-decoration:none;
  float:left;
  width: 100px;
  text-align: center;
  padding:0.2em 0.6em;
  border-right:1px dashed rgba(255, 255, 255, .2);


 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease, font-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease, font-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease, font-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease, font-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease, font-color 0.3s ease;
}
 
#navigation li a:hover {
  color: #fff;
}


input[type=text], input[type=password], input[type=email] {
  font: 200 12px/1.5 Helvetica, Verdana, sans-serif;
  border:1px solid #ccc;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

input[type=text]:hover, input[type=password]:hover, input[type=email]:hover {
  background: #f6f6f6;
  border-color:#999999;
}

input[type=submit], button{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #E5D9CF;
  font-size:12px;
  background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#063540), to(#2A7A8C)) #2A7A8C;
  background: -moz-linear-gradient(top,  #063540,  #2A7A8C);

  border:none;
  border-top: 1px solid rgba(255, 255, 255, .2);
  border-radius: 5px;
  border-left: 1px solid rgba(255, 255, 255, .2);

  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

input[type=submit]:hover, button:hover {
  background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#2A7A8C), to(#063540)) #063540;
  background: -moz-linear-gradient(top,  #2A7A8C,  #063540);
  color: #000;
}

#login label {
  color: #E5D9CF;
}

#success {
  width: 920px;
  height: auto;
  padding:10px;
  float:none;
  /*background-color: #5FB231;*/
  background-color: #fff;
  font-color: #fff;
  position:absolute;
  display: block;
  top:272px;
  clear:both;
  z-index:2;

  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 1px solid rgba(0, 0, 0, .3);
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  border-left: 1px solid rgba(0, 0, 0, .2);

}

#errors {
  width: 920px;
  height: auto;
  padding:10px;
  float:none;
  /*background-color: #B03137;*/
  background-color: #fff;
  font-color: #fff;
  position:absolute;
  display: block;
  top:272px;
  clear:both;
  z-index:2;

  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 1px solid rgba(0, 0, 0, .3);
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  border-left: 1px solid rgba(0, 0, 0, .2);
}

.files {
  width: 400px;
  margin: 10px;
}
 
h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 26px;
  margin: 0;
  padding: 0;
}

#topList {
  float: right;
  width: 300px;
  padding:10px;
  color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 5px;
  border:1px solid rgba(0, 0, 0, .5);
  background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#1C1C14), to(#383429)) #383429;
  background: -moz-linear-gradient(top,  #1C1C14,  #383429);
}

#topList ul {
  float:left;
  padding:0;
  margin:0;
  list-style-type:none;
}
 
#topList li {
    font-family: 'Arvo', serif;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  display: inline;
}
 
#topList li a {
  color: #2A7A8C;
  float:left;
  width: 280px;
  text-decoration:none;
  padding:0.2em 0.6em;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease, font-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease, font-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease, font-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease, font-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease, font-color 0.3s ease;
}
 
#topList li a:hover {
  color: #fff;
}

#shop {
    float: right;
    width: 300px;
    padding:10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    border:1px solid rgba(0, 0, 0, .5);
    background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#1C1C14), to(#383429)) #383429;
    background: -moz-linear-gradient(top,  #1C1C14,  #383429);
    color: #fff;
}

#shop ul {
  float:left;
  padding:0;
  margin:0;
  list-style-type:none;
}
 
#shop li {
    font-family: 'Arvo', serif;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  display: inline;
}
 
 
.codarList {
  float: left;
  width: 250px;
  padding:10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border:1px solid rgba(0, 0, 0, .5);
  margin: 10px;
  color: #fff;
  background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#1C1C14), to(#383429)) #383429;
  background: -moz-linear-gradient(top,  #1C1C14,  #383429);

  border-left: 1px solid #FFF;
  border-top: 1px solid #FFF;
  border-right: 1px solid #FFF;
}

#attacks {
  float: left;
  width: 960px;
  height: auto;
}

#attacks ul {
  float:left;
  padding:0;
  margin:0;
  list-style-type:none;
}
 
#attacks li {
  font-family: 'Arvo', serif;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  display: inline;
}


.shopList {
  float: left;
  width: 250px;
  padding:10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border:1px solid rgba(0, 0, 0, .5);
  margin: 10px;
  color: #fff;
  background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#1C1C14), to(#383429)) #383429;
  background: -moz-linear-gradient(top,  #1C1C14,  #383429);

  border-left: 1px solid #FFF;
  border-top: 1px solid #FFF;
  border-right: 1px solid #FFF;
}

#items {
  float: left;
  width: 960px;
  height: auto;
}

#items ul {
  float:left;
  padding:0;
  margin:0;
  list-style-type:none;
}
 
#items li {
  font-family: 'Arvo', serif;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  display: inline;
} 

#infoBar {
  position:relative;
  top:0px;
  float: left;
  left: -48px;
  width: auto;
  padding:5px;
  height:40px;
  background: transparent;
}

#nomessage {
  width: 32px;
  height: 32px;
  border: 0;
  padding: 0;
  margin: 0; 
  background: transparent;
  background: url(../Common/img/message/no_message.png) no-repeat scroll 0 0 transparent; 
}

#nomessage:hover {
  background: url(../Common/img/message/no_message_hover.png) no-repeat scroll 0 0 transparent; 
}

#gotmessage {
  width: 32px;
  height: 32px;
  border: 0;
  padding: 0;
  margin: 0; 
  background: transparent;
  background: url(../Common/img/message/got_message.png) no-repeat scroll 0 0 transparent; 
}

#gotmessage:hover {
  background: url(../Common/img/message/got_message_hover.png) no-repeat scroll 0 0 transparent; 
}

ul, li{margin:0; border:0; padding:0; list-style:none;}

#infoBar ul .messagedd {
  border-left: 1px solid rgba(255, 255, 255, .2);
  border-radius: 5px;
  color: #E5D9CF;

  background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#1C1C14), to(#383429)) #383429;
  background: -moz-linear-gradient(top,  #1C1C14,  #383429);

  position:relative;
  top:4px;
  width:300px;
  padding:6px 0;
  clear:both;
  z-index:2;
  display:none;
}

#infoBar ul .messagedd li{
  
  display:block;
  float:none;
  margin:0 6px;
  border:0;
  height:auto;
  line-height:normal;
  border-top:solid 1px rgba(255, 255, 255, .2);
  z-index: 99999;
}

#infoBar .messagedd li a{
  background:url(../Common/img/message/delete2.png) no-repeat scroll center right transparent;
  
  display:block;
  float:none;
  font-size: 12px;
  padding:6px 6px;
  margin:0;
  border:0;
  height:auto;
  color: #2A7A8C;
  text-decoration:none;
  line-height:normal;
}

#infoBar .messagedd li a:hover{
  background:;
  background:url(../Common/img/message/delete2.png) no-repeat scroll center right #383429;
}


a {
  color: #E5D9CF;
  text-decoration:underline;
}

a:visited {
  color: #E5D9CF;  
}

a:hover {
  color: #2A7A8C;
}

#register {
  width: 200px;
  display:block;
  clear:right;
}

footer {
  margin-top:20px;
  width:960px;
  text-align: center;
  float:left;
}

footer .quote {
  font-style: italic;
  color: #ccc;
}

footer .footer {
  color: rgba(0,0,0,.2);
  font-family: 'Arvo', serif;
  font-size: 11px;
}

input:required, 
textarea:required {  
  -moz-box-shadow:none;  
  -webkit-box-shadow:none;  
  -o-box-shadow:none;  
  box-shadow:none;  
  outline:none 0;
  background-color: #fff;
}

::-webkit-input-placeholder { color:#333; font-style:italic;}  
 
/* Styling "Placeholder" input in Firefox */   
input:-moz-placeholder, 
textarea:-moz-placeholder { 
  color:#333; font-style:italic; 
} 

#register
{
  padding:10px;
}

#register input {
  margin-top: 5px;
  padding: 2px;
}

#admin {
  padding:10px;
}

#styleChange
{
  width:32px;
  height:16px;
  position:absolute;
  top:0;
  left:0;
}

#style1 {
  width: 16px;
  height: 16px;
  float:left;
  border: 0;
  padding: 0;
  margin: 0; 
  background: transparent;
  background: url(../Common/img/style/style1button.png) no-repeat scroll 0 0 transparent; 
}

#style1:hover {
  background: url(../Common/img/style/style1button_hover.png) no-repeat scroll 0 0 transparent; 
}

#style2 {
  width: 16px;
  height: 16px;
  float:left;
  border: 0;
  padding: 0;
  margin: 0; 
  background: transparent;
  background: url(../Common/img/style/style2button.png) no-repeat scroll 0 0 transparent; 
}

#style2:hover {
  background: url(../Common/img/style/style2button_hover.png) no-repeat scroll 0 0 transparent; 
}







/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
